[submodule "submodules/capstone"]
	path = submodules/capstone
	url = https://github.com/aquynh/capstone
[submodule "submodules/unicorn"]
	path = submodules/unicorn
	url = https://github.com/unicorn-engine/unicorn
[submodule "submodules/keystone"]
	path = submodules/keystone
	url = https://github.com/keystone-engine/keystone
