language: cpp
sudo: false

git:
  submodules: true

script:
  - ./compile-cmake.sh
  
compiler:
  - clang
  - gcc
  
os:
  - linux
  - osx

# before_deploy:
#   # Set up git user name and tag this commit
#   - git config --local user.name Soulghost
#   - git config --local user.email xiuyutong1994@163.com
#   - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
#   - git tag $TRAVIS_TAG

deploy:
  provider: releases
  prerelease: true
  api_key: $deploy_token
  file: 
    - cmake-build/iblessing-darwin
    - cmake-build/iblessing-linux
  skip_cleanup: true
  on:
    tags: true
